.alert-box {
  height: 60px;
}
.footer-box {
  width: 100%;
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  color: white;
  height: 100px;
  margin-top: 70px;
}
.company {
  font-size: 17px;
}
.social a {
  padding: 0 10px;
  font-size: 25px;
  cursor: pointer;
}
